/* Variables sur les couleurs */
:root{
  --color1: #1d3c45;
  --color2: #d2601a;
  --color3: #fff1e1;
}

/* Valeurs par défaut */
*{
  font-size: 1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
}

@font-face {
  font-family: "Oswald";
  src: url("assets/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src:url("assets/Roboto-Regular.ttf");
};

body{
  font-family: "Roboto", sans-serif;
}

header{
  background-image: linear-gradient(0deg, var(--color1), var(--color3), var(--color2));
}

h1{
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  line-height: 100px;
  text-align: center;
  text-shadow: 3px 3px 5px var(--color3);
  animation: animTitre 5s ease-in-out 0s forwards;
  color: transparent;
  letter-spacing: 0px;
}

@keyframes animTitre{
  to{
    text-shadow: 3px 3px 5px var(--color1);
    color: var(--color2);
    letter-spacing: 3px;
  }
}

main{
  background-color: var(--color3);
  overflow: hidden;
  padding-top: 20px;
}

#explication{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--color2);
  letter-spacing: -2px;
}

.conteneur-options{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "tous tous bon"
  "cou lib sag"
  "mor rev sen";
  gap: 3px;
}

#tous{
  grid-area: tous;
}

button{
  background-color: var(--color2);
  color: var(--color1);
  border: 1px solid var(--color3);
  transition: 0.2s linear 0s;
  font-size: 1.6rem;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--color1);
}

button:hover{
  filter: brightness(150%);
  cursor: pointer;
  transform: scale(1.1);
}

button:active{
  background-color: var(--color1);
  color: var(--color2);
  transform: scale(1.2);
}

.button-true{
  background-color: var(--color1);
  color: var(--color2);
}

.button-true:active{
  background-color: var(--color2);
  color: var(--color1);
}

#conteneur-citation{
  font-family: "Oswald", sans-serif;
  background-color: var(--color3);
  width: 80%;
  height: 58vh;
  margin: 10px auto;
  perspective: 100px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

#conteneur-citation>blockquote{
  font-size: 1.5rem;
  word-spacing: 0.25px;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--color1);
}

#auteur{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 100% 65%;
  color: var(--color1);
}

#photo{
  position: absolute;
  margin-top: 80px;
  left: 15%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

#fond{
  position: absolute;
  top: 0vh;
  margin-left: -11%;
  width: 120%;
  height: 50vh;
  z-index: -10;
  opacity: 0.1;
}

footer{
  text-align: center;
}

@keyframes afficheCitation{
  from{
    transform: translateY(1000px) translateZ(200px);
  }
  50%{
    transform: translateZ(0px);
  }
  to{
    transform: translateY(0) translateZ(0px);
  }
}

@keyframes changeCouleurCitation{
  from{
    color: var(--color3);
  }
  66%{
    color: var(--color3);
  }
  to{
    color: var(--color1);
  }
}

@keyframes effacePhoto{
  50%{
    transform: translateZ(200px) translateX(1000px) translateY(200px);
  }
  75%{
    transform: translateZ(50px) translateX(-30px) translateY(50px);
  }
  to{
    transform: translate(0);
  }
}

@keyframes animFond{
  from{
    opacity: 0;
  }
  33%{
    opacity: 1;
  }
  to{
    opacity: 0.1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px){
  .conteneur-options{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "tous bon cou lib"
    "sag mor rev sen";
  }
  #photo{
    top: 12%;
    left: 40%;
    width: 125px;
    height: 150px;
  }
  #conteneur-citation{
    margin: 50px auto;
  }
}

@media screen and (min-width: 1080px){
  .conteneur-options{
    width: 50%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    "tous bon cou lib sag mor rev sen";
    gap: 5px;
  }
  #photo{
    top: 20%;
    left: 40%;
    width: 125px;
    height: 150px;
  }
  #conteneur-citation{
    width: 50%;
  }
  #conteneur-citation>blockquote{
    font-size: 2rem;
    word-spacing: 0.25px;
    letter-spacing: -0.5px;
    text-align: center;
  }
  #auteur{
    font-size: 1.5rem;
  }
  #fond{
    width: 120%;
    left: -100px;
    margin: 0 auto;
  }
}
