/* Variables sur les couleurs */
:root{
  --color1: #1d3c45;
  --color2: #d2601a;
  --color3: #fff1e1;
}

/* Valeurs par défaut */
*{
  font-size: 1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
}

@font-face {
  font-family: "Oswald";
  src: url("assets/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src:url("assets/Roboto-Regular.ttf");
};

body{
  font-family: "Roboto", sans-serif;
}

header{
  background-image: linear-gradient(0deg, var(--color1), var(--color3), var(--color2));
}

h1{
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  line-height: 100px;
  text-align: center;
  text-shadow: 3px 3px 5px var(--color3);
  animation: animTitre 5s ease-in-out 0s forwards;
  color: transparent;
  letter-spacing: 0px;
}

@keyframes animTitre{
  to{
    text-shadow: 3px 3px 5px var(--color1);
    color: var(--color2);
    letter-spacing: 3px;
  }
}

main{
  background-color: var(--color3);
  overflow: hidden;
  padding-top: 20px;
}

#explication{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--color2);
  letter-spacing: -2px;
}

.conteneur-options{
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "tous tous bon fo"
  "cou lib sag fo"
  "mor rev sen er";
  gap: 3px;
  perspective: 100px;
}

#tous{
  grid-area: tous;
}

button{
  background-color: var(--color2);
  color: var(--color1);
  border: 1px solid var(--color3);
  transition: 0.2s linear 0s;
  font-size: 1.6rem;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--color1);
}

button:hover{
  filter: brightness(150%);
  cursor: pointer;
  transform: scale(1.1);
}

button:active{
  background-color: var(--color1);
  color: var(--color2);
  transform: scale(1.2);
}

.button-true{
  background-color: var(--color1);
  color: var(--color2);
}

.button-true:active{
  background-color: var(--color2);
  color: var(--color1);
}

form{
  grid-area: fo;
  background-color: var(--color2);
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  background-color: var(--color1);
  color: var(--color3);
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--color2);
  outline: none;
}

#conteneur-citation{
  font-family: "Oswald", sans-serif;
  background-color: var(--color3);
  width: 80%;
  height: 65vh;
  margin: 10px auto;
  perspective: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.85fr;
  grid-template-rows: 1fr 1.75fr;
  grid-template-areas:
  "fd cite"
  "fd aut";
}

#fond{
  grid-area: fd;
  width: 100%;
  height: 55vh;
  margin-top: 20px;
}

#conteneur-citation>blockquote{
  font-size: 1.75rem;
  word-spacing: 0.25px;
  letter-spacing: -0.5px;
  grid-area: cite;
  text-align: center;
  margin: 50px 0 0 50px;
  padding: 10px;
}

#auteur{
  grid-area: aut;
  margin-left: 50px;
  font-size: 1.5rem;
  margin: 50px 0 0 50px;
  padding: 5px;
}

footer{
  text-align: center;
}

@keyframes animFond{
  from{
    transform: translateZ(250px) translateY(500px);
    opacity: 0;
  }
  to{
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes afficheCitation{
  from{
    opacity: 0;
    transform: translateX(2000px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

#Aff-Erreur{
  position: absolute;
  width: 80%;
  left: 5%;
  opacity: 0;
  grid-area: er;
  z-index: 5000;
  color: var(--color3);
  font-size: 1.5rem;
  background-color: var(--color1);
  text-align: center;
  border-radius: 20px;
}

@keyframes afficheErreur{
  50%{
    opacity: 1;
    transform: translateZ(10px);
  }
  to{
    opacity: 0;
  }
}

@media screen and (max-width: 450px){
  .conteneur-options{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "tous bon"
    "cou lib"
    "sag mor"
    "rev sen"
    "fo fo"
    "er er";
  }
  #conteneur-citation{
    width: 100%;
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "fd fd"
    "cite cite"
    "aut aut";
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px){
  .conteneur-options{
    width: 80%;
    height: 20vh;
  }
  #conteneur-citation{
    grid-template-columns: 1fr 1fr;
  }
  @keyframes afficheErreur{
    50%{
      opacity: 1;
      transform: translateZ(7px);
    }
    to{
      opacity: 0;
    }
  }
}
